<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>emoji_1</string>
		<key>text</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_2</string>
		<key>text</key>
		<string>[笑脸]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_3</string>
		<key>text</key>
		<string>[囧]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_4</string>
		<key>text</key>
		<string>[生气]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_5</string>
		<key>text</key>
		<string>[鬼脸]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_6</string>
		<key>text</key>
		<string>[花心]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_7</string>
		<key>text</key>
		<string>[害怕]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_8</string>
		<key>text</key>
		<string>[我汗]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_9</string>
		<key>text</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_10</string>
		<key>text</key>
		<string>[哼哼]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_11</string>
		<key>text</key>
		<string>[忧郁]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_12</string>
		<key>text</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_13</string>
		<key>text</key>
		<string>[媚眼]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_14</string>
		<key>text</key>
		<string>[累]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_15</string>
		<key>text</key>
		<string>[苦逼]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_16</string>
		<key>text</key>
		<string>[瞌睡]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_17</string>
		<key>text</key>
		<string>[哎呀]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_18</string>
		<key>text</key>
		<string>[刺瞎]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_19</string>
		<key>text</key>
		<string>[哭]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_20</string>
		<key>text</key>
		<string>[激动]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_21</string>
		<key>text</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_22</string>
		<key>text</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_23</string>
		<key>text</key>
		<string>[高兴]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_24</string>
		<key>text</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_25</string>
		<key>text</key>
		<string>[亲]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_26</string>
		<key>text</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_27</string>
		<key>text</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_28</string>
		<key>text</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_29</string>
		<key>text</key>
		<string>[口罩]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_30</string>
		<key>text</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_31</string>
		<key>text</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_32</string>
		<key>text</key>
		<string>[生病]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_33</string>
		<key>text</key>
		<string>[红心]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_34</string>
		<key>text</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_35</string>
		<key>text</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_36</string>
		<key>text</key>
		<string>[花]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_37</string>
		<key>text</key>
		<string>[外星人]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_38</string>
		<key>text</key>
		<string>[金牛座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_39</string>
		<key>text</key>
		<string>[双子座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_40</string>
		<key>text</key>
		<string>[巨蟹座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_41</string>
		<key>text</key>
		<string>[狮子座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_42</string>
		<key>text</key>
		<string>[处女座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_43</string>
		<key>text</key>
		<string>[天平座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_44</string>
		<key>text</key>
		<string>[天蝎座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_45</string>
		<key>text</key>
		<string>[射手座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_46</string>
		<key>text</key>
		<string>[摩羯座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_47</string>
		<key>text</key>
		<string>[水瓶座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_48</string>
		<key>text</key>
		<string>[白羊座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_49</string>
		<key>text</key>
		<string>[双鱼座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_50</string>
		<key>text</key>
		<string>[星座]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_51</string>
		<key>text</key>
		<string>[男孩]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_52</string>
		<key>text</key>
		<string>[女孩]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_53</string>
		<key>text</key>
		<string>[嘴唇]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_54</string>
		<key>text</key>
		<string>[爸爸]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_55</string>
		<key>text</key>
		<string>[妈妈]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_56</string>
		<key>text</key>
		<string>[衣服]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_57</string>
		<key>text</key>
		<string>[皮鞋]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_58</string>
		<key>text</key>
		<string>[照相]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_59</string>
		<key>text</key>
		<string>[电话]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_60</string>
		<key>text</key>
		<string>[石头]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_61</string>
		<key>text</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_62</string>
		<key>text</key>
		<string>[禁止]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_63</string>
		<key>text</key>
		<string>[滑雪]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_64</string>
		<key>text</key>
		<string>[高尔夫]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_65</string>
		<key>text</key>
		<string>[网球]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_66</string>
		<key>text</key>
		<string>[棒球]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_67</string>
		<key>text</key>
		<string>[冲浪]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_68</string>
		<key>text</key>
		<string>[足球]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_69</string>
		<key>text</key>
		<string>[小鱼]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_70</string>
		<key>text</key>
		<string>[问号]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_71</string>
		<key>text</key>
		<string>[叹号]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_179</string>
		<key>text</key>
		<string>[顶]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_180</string>
		<key>text</key>
		<string>[写字]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_180</string>
		<key>text</key>
		<string>[写字]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_181</string>
		<key>text</key>
		<string>[衬衫]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_182</string>
		<key>text</key>
		<string>[小花]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_183</string>
		<key>text</key>
		<string>[郁金香]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_184</string>
		<key>text</key>
		<string>[向日葵]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_185</string>
		<key>text</key>
		<string>[鲜花]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_186</string>
		<key>text</key>
		<string>[椰树]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_187</string>
		<key>text</key>
		<string>[仙人掌]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_188</string>
		<key>text</key>
		<string>[气球]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_189</string>
		<key>text</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_190</string>
		<key>text</key>
		<string>[喝彩]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_191</string>
		<key>text</key>
		<string>[剪子]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_192</string>
		<key>text</key>
		<string>[蝴蝶结]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_193</string>
		<key>text</key>
		<string>[机密]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_194</string>
		<key>text</key>
		<string>[铃声]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_195</string>
		<key>text</key>
		<string>[女帽]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_196</string>
		<key>text</key>
		<string>[裙子]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_197</string>
		<key>text</key>
		<string>[理发店]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_198</string>
		<key>text</key>
		<string>[和服]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_199</string>
		<key>text</key>
		<string>[比基尼]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_200</string>
		<key>text</key>
		<string>[拎包]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_201</string>
		<key>text</key>
		<string>[拍摄]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_202</string>
		<key>text</key>
		<string>[铃铛]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_203</string>
		<key>text</key>
		<string>[音乐]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_204</string>
		<key>text</key>
		<string>[心星]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_205</string>
		<key>text</key>
		<string>[粉心]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_206</string>
		<key>text</key>
		<string>[丘比特]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_207</string>
		<key>text</key>
		<string>[吹气]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_208</string>
		<key>text</key>
		<string>[口水]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_209</string>
		<key>text</key>
		<string>[对]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_210</string>
		<key>text</key>
		<string>[错]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_211</string>
		<key>text</key>
		<string>[绿茶]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_212</string>
		<key>text</key>
		<string>[面包]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_213</string>
		<key>text</key>
		<string>[面条]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_214</string>
		<key>text</key>
		<string>[咖喱饭]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_215</string>
		<key>text</key>
		<string>[饭团]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_216</string>
		<key>text</key>
		<string>[麻辣烫]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_217</string>
		<key>text</key>
		<string>[寿司]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_218</string>
		<key>text</key>
		<string>[苹果]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_219</string>
		<key>text</key>
		<string>[橙子]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_220</string>
		<key>text</key>
		<string>[草莓]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_221</string>
		<key>text</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_222</string>
		<key>text</key>
		<string>[柿子]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_223</string>
		<key>text</key>
		<string>[眼睛]</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emoji_224</string>
		<key>text</key>
		<string>[好的]</string>
	</dict>
</array>
</plist>
